/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image:
        linear-gradient(rgba(33, 36, 41, .88), rgba(33, 36, 41, .88)),
        url("../img/map-image.png");

    background-size: cover;
    background-position: center;
}

/* FORMULARIO */
form {
    width: 30rem;
    padding: 2rem 1rem;
}

fieldset {
    border: none;
    background: white;

    border-radius: 18px;
    padding: 45px;

    display: flex;
    flex-direction: column;

    gap: 18px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .25);
}


h1 {
    text-align: center;

    font-size: 2.1rem;
    font-family: Georgia, serif;

    color: #1d2430;
    margin-bottom: 10px;
}

.subtitle{
    text-align:center;
    color:#7a869d;
    font-size: .9rem;

    margin-top:-8px;
    margin-bottom:12px;
}

.errorField {
    color: #d13a3a;
    background-color: #ffd7d7;

    text-align: center;
    min-height: 18px;
    font-size: .95rem;

    padding: 0.3rem 0.1rem;
    border-radius: 8px;
}

.inputField {

    display: flex;

    flex-direction: column;

    gap: 7px;

}

.inputField label {

    color: #6b7894;

    font-size: .9rem;

}

.inputField input {
    height: 50px;
    
    border: none;
    outline: none;
    border-radius: 10px;
    background: #f5f0e8;

    padding: 0 16px;
    font-size: 15px;
    transition: .2s;
}

.inputField input:focus {
    box-shadow: 0 0 0 2px #c9a14d;
}

/* ENLACE */
fieldset span:last-of-type {
    text-align: center;
    color: #6b7894;
    font-size: .9rem;
}

fieldset span:last-of-type a {
    text-decoration: none;
    color: #c79f4d;
    font-weight: bold;
}

fieldset span:last-of-type a:hover {
    text-decoration: underline;
}

/* BOTÓN */
input[type="submit"] {
    margin-top: 8px;
    height: 55px;

    border: none;
    border-radius: 50px;
    background: #caa353;

    color: white;
    font-size: 17px;
    font-weight: bold;

    cursor: pointer;
    transition: .25s;
}

input[type="submit"]:hover {
    background: #b48d3e;
    transform: translateY(-2px);
}

input[type="submit"]:active {
    transform: translateY(0);
}