<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Salvador</title>

    <!-- Icono de la pestaña -->
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'icons/shortcutIcon.png') }}" type="image/x-icon">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
</head>
<body>
    <header>
        <a href="/" class="mainOption">Salvador</a>

        <a href="/">Inicio</a>
        <!-- <a href="">Servicios</a> -->
        <a href="/login">Iniciar Sesión</a>
        <a href="/register">Registrarse</a>
    </header>

    <main>
        <h1>Salvador</h1>
        <span>Servicio de Hoteleria y Buffet</span>
    </main>
</body>
</html>