<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- Icono de la pestaña -->
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'icons/shortcutIcon.png') }}" type="image/x-icon">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login&register.css') }}">
</head>
<body>
    <main>
        <form action="/tryLogin" method="post">
            <fieldset>
                <h1>Inicio de Sesión</h1>

                <p class="subtitle">
                    Accede a todos los servicios de Hotel Salvador
                </p>

                {% if(alert | default(False)) %}
                <span class="errorField">
                    Correo o contraseña incorrectos
                </span>
                {% endif %}

                <span class="inputField">
                    <label for="correo">Correo: </label>
                    <input type="email" name="correo" id="correo" placeholder="sucorreo@gmail.com" required>
                </span>
                
                <span class="inputField">
                    <label for="contrasenia">Contraseña: </label>
                    <input type="password" name="contrasenia" id="contrasenia" placeholder="********" required>
                </span>

                <span>
                    ¿Cliente nuevo? <a href="/register">Registrate aquí</a>
                </span>

                <input type="submit" value="Entrar">
            </fieldset>
        </form>
    </main>
</body>
</html>