<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        <form action="/tryLogin" method="post">
            <fieldset>
                <h1>Inicio de Sesión</h1>

                <span class="inputField">
                    <label for="correo">Correo: </label>
                    <input type="email" name="correo" id="correo" placeholder="sucorreo@gmail.com" required>
                </span>
                
                <span class="inputField">
                    <label for="contrasenia">Contraseña: </label>
                    <input type="password" name="contrasenia" id="contrasenia" placeholder="********" required>
                </span>

                <span class="errorField">
                    {{ alert | default('') }}
                </span>

                <input type="submit" value="Entrar">
            </fieldset>
        </form>
    </main>
</body>
</html>